///////////////////////////////////////////////////
/*
FORMS
*/

.form-control:focus {
  box-shadow: none;
}

.btn-outline-primary:hover {
  color: $primary !important;
  background-color: $secondary !important;
  text-decoration: none;
}

.btn-outline-secondary:hover {
  color: $secondary !important;
  background-color: $primary !important;
  text-decoration: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

select.countrylist {
  background-color: transparent !important;
}

select. {
  border: 0 !important;
  background-color: transparent !important;
}
select option {
  background-color: transparent !important;
}

///////////////////////////////////////////////////

/*
UL
*/

ul {
  list-style-type: square;
}

///////////////////////////////////////////////////

/*
NAVBAR
*/

.primarynavlinks {
  color: $secondary;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
