body.page-template-home-template {
  ._hm_banner {
    position: relative;
  }

  ._hm_banner_imgwpr {
    position: relative;
  }

  ._hm_banner_imgwpr > img {
    width: 100%;
    height: calc(100vh);
    object-fit: cover;
    object-position: bottom;
  }
}
